body {
  background: #0dd41d;                      /* light bluish-white background */
  font-family: "Times New Roman", Times, serif;
  margin: 40px;
  /* add other global styles here (color, line-height, etc.) */
}

h1 {
  color: #6f7bfc;                           /* bluish-purple */
  text-align: center;
  margin-top: 0;                            /* optional: tighter spacing above H1 */
}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}