body {
  background: #0dd41d;                      /* light bluish-white background */
  font-family: "Times New Roman", Times, serif;
  margin: 40px;
  /* add other global styles here (color, line-height, etc.) */
}

h1 {
  color: #6f7bfc;                           /* bluish-purple */
  text-align: center;
  margin-top: 0;                            /* optional: tighter spacing above H1 */
}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 20%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 15%;
}
.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(126, 14, 201); /* choose a color */
display: block;
margin: auto;
}
a { /* change the appearance of ALL links */
text-decoration: none;
color: purple;
}
.project p { /* change the appearance of paragraph tags inside .project divs */
text-align: center;
margin: 15px;
}